{{define "provider"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{template "styles"}}
    <title>Admin System</title>
  </head>
  <body>
    {{template "menu"}}
    <div class="input-group mb-3 container">
        <label class="input-group-text" for="slc_search_country">Countries</label>
        <select class="form-select" id="slc_search_country" onchange="getProviderByCountryId()">
        </select>
      </div>
    <div id="provider_table" class="container"></div>

    {{template "scripts"}}
    <script src="../../static/js/provider.js"></script>
  </body>
</html>
{{end}}
