{{define "category"}}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{template "styles"}}
    <title>Admin System</title>
  </head>

  <body>
    {{template "menu"}}
    <a href="/categories/create" class="btn btn-success">Create</a>
    <form method="post" action="/categories" class="container">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Category name"
          name="categoryName"
          value="{{.CategoryName}}"
        />
        <button
          class="btn btn-outline-secondary"
          type="submit"
          id="button-addon2"
        >
          Button
        </button>
      </div>
    </form>
    <table id="table" class="table container">
      <thead class="table-dark">
        <tr>
          <td>Category ID</td>
          <td>Name</td>
          <td>Description</td>
        </tr>
      </thead>
      <tbody>
        {{range .CategoryList}}
        <tr>
          <td>{{.CategoryId}}</td>
          <td>{{.Name}}</td>
          <td>{{.Description}}</td>
        </tr>
        {{end}}
      </tbody>
    </table>
  </body>
  {{template "scripts"}}
</html>

{{end}}
