{{define "create_category"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{template "styles"}}
    <title>Admin System</title>
  </head>
  <body>
    {{template "menu"}}
    <form id="frmCreateCategory" class="container" method="post" action="/categories/create">
      <div class="mb-3">
        <label for="txtName" class="form-label"> Category name </label>
        <input
          id="txtName"
          type="text"
          class="form-control"
          placeholder="Category name"
          name="categoryName"
        />
      </div>
      <div class="mb-3">
        <label for="txtDescription" class="form-label">
          Category description
        </label>
        <textarea
          id="txtDescription"
          class="form-control"
          rows="3"
          name="categoryDescription"
        ></textarea>
      </div>

      <div>
        <button
          type="button"
          class="btn btn-outline-success"
          onclick="showAlert()"
        >
          Aceptar
        </button>
        <a href="/categories" class="btn btn-outline-danger">Cancelar</a>
      </div>
    </form>
    {{template "scripts"}}
    <script src="../../static/js/create_category.js"></script>
  </body>
</html>
{{end}}
