{{define "create_product"}}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{template "styles"}}
    <title>Admin System</title>
  </head>
  <body>
    {{template "menu"}}

    <form method="post" action="/products/create" class="container">
      <h1>Create Product</h1>
      <div class="mb-3">
        <label for="txtProductName" class="form-label">Product Name</label>
        <input
          type="text"
          class="form-control"
          id="txtProductName"
          placeholder="Product Name"
        />
      </div>
      <div class="mb-3">
        <label for="txtProductDescription" class="form-label"
          >Product Description</label
        >
        <textarea
          class="form-control"
          id="txtProductDescription"
          rows="3"
        ></textarea>
      </div>
      <div class="mb-3">
        <label for="txtProductPrice" class="form-label">Product Price</label>
        <input
          type="text"
          class="form-control"
          id="txtProductPrice"
          placeholder="Product Price"
        />
      </div>
      <div class="mb-3">
        <label for="txtProductStock" class="form-label">Product Stock</label>
        <input
          type="text"
          class="form-control"
          id="txtProductStock"
          placeholder="Product Stock"
        />
      </div>
      <div class="mb-3">
        <label for="slcCategory" class="form-label">Category</label>
        <select id="slcCategory" class="form-select">
          <option selected>Choose Category</option>
          {{range .CategoryList}}
          <option value="{{.CategoryId}}">{{.Name}}</option>
          {{end}}
        </select>
      </div>
      <div>
        <button
          type="button"
          class="btn btn-outline-success"
          onclick="showAlert()"
        >
          Aceptar
        </button>
        <a href="/products" class="btn btn-outline-danger">Cancelar</a>
      </div>
    </form>

    {{template "scripts"}}
  </body>
</html>

{{end}}
