{{define "edit_product"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{template "styles"}}
    <title>Admin System</title>
  </head>
  <body>
    {{template "menu"}}
    <form id="frmEditProduct" method="post" action="/products/save" class="container">
      <h1>Edit Product</h1>
      <div class="mb-3">
        <label for="txtProductName" class="form-label">Product ID</label>
        <input
          type="text"
          class="form-control"
          id="txtProductId"
          placeholder="Product ID"
          value="{{.ProductId}}"
          name="id"
          readonly
        />
      </div>
      <div class="mb-3">
        <label for="txtProductName" class="form-label">Product Name</label>
        <input
          type="text"
          class="form-control"
          id="txtProductName"
          placeholder="Product Name"
          value="{{.ProductName}}"
          name="name"
        />
      </div>
      <div class="mb-3">
        <label for="txtProductDescription" class="form-label"
          >Product Description</label
        >
        <textarea
          class="form-control"
          id="txtProductDescription"
          rows="3"
          name="description"
        >{{.Description}}</textarea>
      </div>
      <div class="mb-3">
        <label for="txtProductPrice" class="form-label">Product Price</label>
        <input
          type="text"
          class="form-control"
          id="txtProductPrice"
          placeholder="Product Price"
          value="{{.Price}}"
          name="price"
        />
      </div>
      <div class="mb-3">
        <label for="txtProductStock" class="form-label">Product Stock</label>
        <input
          type="text"
          class="form-control"
          id="txtProductStock"
          placeholder="Product Stock"
          value="{{.Stock}}"
          name="stock"
        />
      </div>
      <div class="mb-3">
        <label for="slcCategory" class="form-label">Category</label>
        <select id="slcCategory" class="form-select" data-id="{{.CategoryId}}" name="category">
          <option selected>Choose Category</option>
          {{range .CategoryList}}
          <option value="{{.CategoryId}}">{{.Name}}</option>
          {{end}}
        </select>
      </div>
      <div>
        <button
          type="button"
          class="btn btn-outline-success"
          onclick="showAlert()"
        >
          Aceptar
        </button>
        <a href="/products" class="btn btn-outline-danger">Cancelar</a>
      </div>
    </form>
    {{template "scripts"}}
    <script src="../../static/js/edit_product.js"></script>
  </body>
</html>
{{end}}
