{{define "product"}}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{template "styles"}}
    <title>Admin System</title>
  </head>

  <body>
    {{template "menu"}}
    <input type="hidden" id="categoryIdSearched" value="{{.CategoryId}}" />
    <form method="post" action="/products" class="container">
      <div class="input-group">
        <select class="form-select" id="categoryId" name="categoryId">
          <option value="" selected>Choose Category</option>
          {{range .CategoryList}}
          <option value="{{.CategoryId}}">{{.Name}}</option>
          {{end}}
        </select>
        <button class="btn btn-outline-secondary" type="submit">Search</button>
      </div>
    </form>
    <table class="table container">
      <thead class="table-dark">
        <tr>
          <th>Product ID</th>
          <th>Name</th>
          <th>Price</th>
          <th>Stock</th>
          <th>Category Name</th>
        </tr>
      </thead>
      <tbody>
        {{range .ProductList}}
        <tr>
          <td>{{.IdProduct}}</td>
          <td>{{.ProductName}}</td>
          <td>{{.Price}}</td>
          <td>{{.Stock}}</td>
          <td>{{.CategoryName}}</td>
        </tr>
        {{end}}
      </tbody>
    </table>

    <script>
      window.onload = () => {
        const categoryId = document.getElementById("categoryIdSearched").value;
        document.getElementById("categoryId").value = categoryId;
      };
    </script>
  </body>
</html>

{{end}}
