{{define "page"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{template "styles"}}
    <title>Admin System</title>
  </head>

  <body>
    {{template "menu"}}

    <div class="container">
      <label id="lbl_ws_status"></label>
      <fieldset>
        <legend>Create Page</legend>
        <div>
          <div class="mb-3">
            <label for="inp_page_id" class="form-label">Page ID</label>
            <input
              id="inp_page_id"
              type="text"
              class="form-control"
              placeholder="Page ID"
              readonly
            />
          </div>
          <div class="mb-3">
            <label for="inp_message" class="form-label">Message</label>
            <input
              id="inp_message"
              type="text"
              class="form-control"
              placeholder="Message"
            />
          </div>
          <div class="mb-3">
            <label for="inp_route" class="form-label">Route</label>
            <input
              id="inp_route"
              type="text"
              class="form-control"
              placeholder="Route"
            />
          </div>

          <div>
            <button
              type="button"
              class="btn btn-outline-success"
              onclick="create()"
            >
              Aceptar
            </button>

            <button
              type="button"
              class="btn btn-outline-primary"
              onclick="clearInputs()"
            >
              Clear
            </button>
          </div>
        </div>
      </fieldset>
    </div>

    <div id="page_table" class="container"></div>

    {{template "scripts"}}
    <script src="../../static/js/page.js"></script>
  </body>
</html>
{{end}}
