<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin System</title>
</head>

<body>
    <h1>Categories Page</h1>
    <h3>{{.Names}} {{.Surnames}}</h3>

    {{if .IsMan}}
    <h3 style="color: blue;">Es Hombre</h3>
    {{else}}
    <h3 style="color: green">No es Hombre</h3>
    {{end}}

    {{if gt .Age 17}}
    <h3>Es mayor de edad</h3>
    {{else}}
    <h3>No es mayor de edad</h3>
    {{end}}
</body>

</html>